<h1>{{titulo}}</h1>

<form #formImage="ngForm"  (ngSubmit)="OnSubmit()">
	<label>Título : </label>
	<p>
		<input type="text" #title="ngModel" name="title" [(ngModel)]="image.title" required="required">
		<span *ngIf="title.touched && !title.valid"> El campo Título no es correcto !!</span>
	 </p>
	 <div *ngIf="is_edit" >
	 	<label>Subir Imágen: </label>
	 	<p>
	 		<input type="file" placeholder="Subir imagen" name="" (change)="fileChangeEvent($event)">
	 	</p>
	 </div>

	 <input type="submit" value="{{titulo}}" [disabled]="!formImage.form.valid">
</form>