<div class="loading" *ngIf="loading">
	<img src="../../assets/images/loader.gif" />
</div>
<div class="album-box" *ngIf="album">
	<div class="data-rest">
	 <h2>Album : {{album.title}}</h2>
	  <p class="description">{{album.description}}</p>
	  <a [routerLink]="['/crear/image/',album._id]" class="btn btn-default" href="">Añadir Fotos</a>

	  <div id="gallery-images" *ngIf="images">
	  	<ul id="pictures-list">
	  		 <li *ngFor="let image of images" class="image-item">
               <div class="picture"><img src="{{api_url + image.picture}}" *ngIf="image.picture && image.picture != 'null'"> </div> 
               <div class="title"><a  href="">{{image.title}}</a> </div>  
	  		 </li>
	  		
	  	</ul>
	  	
	  </div>
	 </div> 
</div>