<h1>{{titulo}}</h1>
<div class="loading" *ngIf="loading">
	<img src="../../assets/images/loader.gif" />
</div>

<ul id="albums-list">
	<li *ngFor="let album of albums" class="album-item">
		<div class="data">
			<h4> {{album.title}}</h4>
			<p>{{album.description}}</p>
		</div>
		<p>
			<a href="" [routerLink]="['/ver/album/',album._id]" class="btn btn-ver">Ver album</a>
			<a href="" [routerLink]="['/crear/image',album._id]" class="btn btn-default">Añadir fotos</a>
			<a href="" [routerLink]="['/editar/album/',album._id]" class="btn btn-editar">Editar</a>
			<a  class="btn btn-eliminar"  (click)="onBorrarConfirmar(album._id)" >Eliminar</a>
		</p>	
			<div class="seguro" *ngIf="confirmado == album._id"> 
				<p>
				<strong>Seguro que deseas borrar el usuario</strong>
				</p>
			   <a  (click)="onBorrarAlbum(album._id)" > Eliminar </a>
			   <a  (click)="onCanchearConfirmar(album._id)" >Cancelar</a>
			</div>
	</li>
</ul>